@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hind Siliguri", ui-sans-serif, system-ui, sans-serif;
  
  --color-premium-red: #D32F2F;
  --color-premium-red-dark: #B71C1C;
  --color-premium-red-light: #FFEBEE;
}

@layer base {
  body {
    @apply font-sans text-gray-900 antialiased bg-gray-50;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
